*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100dvh;
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}
h1{
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
}
table{
    border-collapse: collapse;
    border: 4px outset #ddd;   
    border-spacing: 10px; 
    margin-top: 1em;
}
td, th{
    padding: 15px;
    border: 4px inset #ddd;
}
footer{
    background-color: orangered;
    padding: 0.5em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5em;
    min-width: 100dvw;
}
footer a, p, h6, h5, div{
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

@media(min-width: 360px){
    table{
        font-size: 1em;
        border-spacing: 5px;
    }
    td, th{
        padding: 5px;
    }
}
@media (orientation: landscape){
    h1{
    font-size: 1.2em;
    padding: 0.3em;
    }
    footer a, p, h6, h5, div{
    color: #ffffff;
    font-size: 0.8em;
    text-decoration: none;
    }
    footer{
        line-height: 1em;
    }
    section{
        padding: 1.5em;
    }
}
@media(min-width:800px){
    h1{
    font-size: 2em;
    padding: 1em;
    }
    section{
        padding: 2.5em;
    }
    footer a, p, h6, h5, div{
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    }
    footer{
        line-height: 1.5em;
    }
    table{
        font-size: 1em;
        border-spacing: 15px;
    }
    td, th{
        padding: 15px;
    }
    a{
        transition: color 0.5s ease-in-out;
    }
    a:hover{
        color: rgb(255, 242, 124);
    }
}
