body{
    color: #dadada;
    background-color: #222;
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 28px;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
h3{
    font-size: 18px;
    text-align: center;
}
h4{
    font-size: 16px;
    text-align: center;
}
h5{
    font-size: 14px;
    text-align: center;
}
h6{
    font-size: 12px;
    text-align: center;
}
span{
    font-size: 14px;
    color: #fd3a6b;
}

h3.exercicio2{
    text-align: left;
    color:#ff7b00;
}

span.exercicio2{
    color:#fd3a6b;
    font-size: 16pt;
}
p{
    color: #fafc8d;
    line-height: 150%;
    font-size: 14pt;
}
a{
    text-decoration: none;
    color: #fbff00;
    font-size: 14pt;
}
footer{
    width: 100%;
    background-color: #f76505;
    color: #FFF;
    text-align: center;
    font-size: 10pt;
    padding: 15px;
}
.texto{
    font-size: 23pt;
    color: #ff7b00;
    margin-bottom: 15px;
}
.FATEC{
    background-color: rgb(209, 8, 8);
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}
.FATEC > h2{
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.FATEC > h1{
    text-shadow: 1px 2px 6px rgb(39 38 33 / 80%);
}
.quad1 > p{
    color: #0a8d8d;
}
.quad1 > p > a{
    color: cyan;
}
.quad1{
    padding: 2em;
}
footer.exerc3 > p, a{
    color: #ffffff;
    font-size: 1.2em;
}
footer.exerc3 p > a{
    color: rgb(55, 3, 245);
    font-weight: bold;
}