body{
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    min-height: 100vh; /*garante o uso da tela toda */
    margin: 0; /*zera as margens do navegadir */
}

.corpo{
    background: linear-gradient(to right, #212020, #3f3f3f);
    width: 60%;
    height: 60dvh;
    box-shadow: 5px 5px 13px rgba(242, 239, 239, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.container{ /* moldura */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: 400px; /* altura definida para controlar posição do texto */
    text-align: center;
}

.foto1, .foto2{
    position: absolute;
    top: 20px;
    left: 50%; /*move para a metade do container */
    width: 200px;
    height: 200px;
}

.foto2{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}
.corpo img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantém proporção da imagem */
    border: 3px solid #FFF;
    border-radius: 50%;

}
.texto{
    margin-top: 240px; /* empurra o texto para baixo das imagens */    
    padding: 10px;
}

p{
    font-size: 1.5em;
    color: cyan
}

.ass{
    text-align: right;
    font-size: 1em;
}

/*img:hover{
    content: url("/DesenvolvimentoWEB/1/Exercicios/imgs/mad1.jpg");    
    cursor: pointer;
    box-shadow: 5px 5px 25px cyan;
}*/
.container :hover{
    opacity: 0;
}
p:hover{
    color: greenyellow;
    cursor: pointer;
}

.corpo:hover{
    box-shadow: 7px 7px 27px greenyellow;
}
.ass:hover{
    font-weight: bold;
    cursor: pointer;
}
h1{
    font-size: 4em;
    padding: 0.5em;
    color: yellowgreen
}
h1:hover{
    color: cyan;
    cursor: progress;
}