chave.txt
teste
*.jar
PI/
Algoritmo\ e\ Lógica\ de\ programação/Aula-02/exercicios/binários/
Algoritmo\ e\ Lógica\ de\ programação/Aula-02/binários/
Algoritmo\ e\ Lógica\ de\ programação/Aula-03/binários/

