body{
    margin: 0;
    padding: 1.5em;
}
footer.exerc3 > p, a{
    color: #ffffff;
    font-size: 1.2em;
}
footer.exerc3 p > a{
    color: rgb(55, 3, 245);
    font-weight: bold;
}
.exerc3{
    width: auto;
}