h1{
    color: #62ff00;
    text-align: center;
    font-size: 72pt;
    text-decoration: underline;
    transition: all 0.3s ease;

}
h1.teste:hover{
    cursor: pointer;
    text-shadow: 2px 0px 24px #62ff00;
    transform: scale(1.01);    /* Dá um leve zoom de 5% no título */
    transition: all 0.3s ease;
}

body{
    background-color: #222;
}