/* Definição das variáveis de cores e configurações globais */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Cores principais do projeto: Vermelho, Chumbo e Branco */
    --cor-primaria: #a52a2a; /* Vermelho */
    --cor-secundaria: #333333; /* Chumbo */
    --cor-header: #373737; 
    --cor-branca: #ffffff;
    --cor-fundo: #f4f4f4;
    --tom-link: #ff4e4e; /* Tom para links e elementos interativos */
    --hover-orcamento: #911e1e;
    --bordas-nav-link: #ff7979;

    /* Área mínima de clique recomendada para acessibilidade */
    --area-clicavel: 48px;
    
    /* Altura do header definida para diferentes telas */
    --header-mobile-retrato: 25svh;
    --header-mobile-paisagem: 30svh;
    --header-desktop-tablet: 20svh;

    /* Variável dinâmica que será alterada via Media Queries */
    --altura-header: var(--header-mobile-retrato);

    /* estilos carrossel */

    --cor-texto: #FFF;
    --anim-texto: 1s; /* tempo de animação texto */
    --anim-slide: 0.8s; /* tempo slide */
    --delay-texto: 0.2s; /* tempo do texto na tela */
    --texto-y: 55%; /* altura do texto em relação à tela (top)*/
    --texto-x: 5%; /* margem esquerda do texto */
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1); /* efeito elástico/suave no texto e slide */
    --fontPrim: Montserrat, sans-serif; /* fonte primária */

    /* Tipografia responsiva da seção de contato */
    --fs-titulo: 20px;   /* h1 do #faqs e #info-empresa */
    --fs-corpo: 14px;    /* .perguntas, .descricoes e botão #orcamento */

    /* Espaçamentos responsivos */
    --mb-hr-faqs: 20px;     /* hr dentro de #faqs */
    --mb-hr-empresa: 20px;  /* hr dentro de #info-empresa */
    --mt-orcamento: 20px;   /* margem superior do botão #orcamento */
    --mb-descricoes: 20px;  /* margem inferior de .descricoes */

    /* Dimensões do iframe */
    --iframe-max-width: 380px;
    --iframe-height: 300px;
}

/* Ajustes responsivos da seção de contato */
@media (min-width: 1024px) {
    :root {
        --fs-titulo: 25px;
        --fs-corpo: 16px;

        --mb-hr-faqs: 40px;
        --mb-hr-empresa: 50px;
        --mt-orcamento: 50px;
        --mb-descricoes: 50px;

        --iframe-max-width: 440px;
        --iframe-height: 500px;
    }
}

/* Media Queries para ajustar a altura do header dinamicamente */

@media (orientation: landscape) {
    :root {
        --altura-header: var(--header-mobile-paisagem);
    }
}

@media (min-width: 992px) {
    :root {
        --altura-header: var(--header-desktop-tablet);
    }
}

/* Reset básico para consistência entre navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif !important;
}
